In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a', 'b', 'c']
my_data = [10,20,30]
array = np.array(my_data)
d = {'a': 10, 'b': 20, 'c': 30}

In [3]:
labels

['a', 'b', 'c']

In [4]:
my_data

[10, 20, 30]

In [5]:
array

array([10, 20, 30])

In [6]:
d

{'a': 10, 'b': 20, 'c': 30}

In [7]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(array, labels)

a    10
b    20
c    30
dtype: int32

In [10]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [12]:
pd.Series([print,len,sum])

0    <built-in function print>
1      <built-in function len>
2      <built-in function sum>
dtype: object

In [13]:
seri1 = pd.Series([6,16,34,35], ['Ankara', 'Bursa', 'İstanbul', 'İzmir'])

In [14]:
seri1

Ankara       6
Bursa       16
İstanbul    34
İzmir       35
dtype: int64

In [15]:
seri2 = pd.Series([6,38,34,35], ['Ankara', 'Kayseri', 'İstanbul', 'İzmir'])

In [16]:
seri2

Ankara       6
Kayseri     38
İstanbul    34
İzmir       35
dtype: int64

In [17]:
seri1['Ankara']

6

In [18]:
seri3 = pd.Series(labels)

In [19]:
seri3

0    a
1    b
2    c
dtype: object

In [20]:
seri3[1]

'b'

In [21]:
seri1+seri2

Ankara      12.0
Bursa        NaN
Kayseri      NaN
İstanbul    68.0
İzmir       70.0
dtype: float64