In [1]:
import numpy as np
import pandas as pd

In [2]:
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index_mul = pd.MultiIndex.from_tuples(hier_index)

In [5]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [6]:
hier_index_mul

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [7]:
df = pd.DataFrame(np.random.randn(6,2), hier_index_mul, ['A', 'B'])

In [8]:
df

             A         B
G1 1  1.338672  0.729117
   2  0.282240 -0.501244
   3 -0.143043 -2.007228
G2 1 -0.012880  0.775354
   2  0.775090  0.129311
   3 -0.189009 -1.309351

In [10]:
df.loc['G1'].loc[1]

A    1.338672
B    0.729117
Name: 1, dtype: float64

In [12]:
df.index.names = ['Grup', 'Sayı']

In [13]:
df

                  A         B
Grup Sayı
G1   1     1.338672  0.729117
     2     0.282240 -0.501244
     3    -0.143043 -2.007228
G2   1    -0.012880  0.775354
     2     0.775090  0.129311
     3    -0.189009 -1.309351

In [14]:
df.loc['G1']

             A         B
Sayı
1     1.338672  0.729117
2     0.282240 -0.501244
3    -0.143043 -2.007228

In [16]:
df.xs('G1')

             A         B
Sayı
1     1.338672  0.729117
2     0.282240 -0.501244
3    -0.143043 -2.007228

In [17]:
df

                  A         B
Grup Sayı
G1   1     1.338672  0.729117
     2     0.282240 -0.501244
     3    -0.143043 -2.007228
G2   1    -0.012880  0.775354
     2     0.775090  0.129311
     3    -0.189009 -1.309351

In [18]:
df.xs(1, level='Sayı')

             A         B
Grup
G1    1.338672  0.729117
G2   -0.012880  0.775354