In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'col1': [1,2,3,4],
                   'col2': [444,555,666,444],
                   'col3': ['abc','def','ghi','xyz']})
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [3]:
df['col2'].unique()

array([444, 555, 666], dtype=int64)

In [4]:
df['col2'].nunique()

3

In [5]:
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

In [6]:
def carpi2(x):
    return x*2

In [7]:
df['col1'].apply(carpi2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [8]:
df['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [9]:
df['col2'].apply(lambda x: x*2)

0     888
1    1110
2    1332
3     888
Name: col2, dtype: int64

In [10]:
df.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [11]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [13]:
df.sort_values('col2')

   col1  col2 col3
0     1   444  abc
3     4   444  xyz
1     2   555  def
2     3   666  ghi

In [14]:
df.isnull()

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False

In [15]:
data = {'A':['G1','G1','G1','G2','G2','G2'],
        'B':['bir','bir','iki','iki','bir','bir'],
        'C':['x','y','x','y','x','y'],
        'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)

In [16]:
df

    A    B  C  D
0  G1  bir  x  1
1  G1  bir  y  3
2  G1  iki  x  2
3  G2  iki  y  5
4  G2  bir  x  4
5  G2  bir  y  1

In [17]:
df.pivot_table(values='D', index=['A', 'B'], columns=['C'])

C         x    y
A  B
G1 bir  1.0  3.0
   iki  2.0  NaN
G2 bir  4.0  1.0
   iki  NaN  5.0